/*----INDEX----*/
.conference-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    min-height: 44rem;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/ba1.jpg");
    background-size: cover;
}

.conference-card {
    max-height: 10rem;
    max-width: 32rem;
    text-align: right;
    margin-right: 4rem;
    margin-top: 4rem;
}

#btn-speaker {
    border: 1px solid #f4fde6;
    width: 160px;
    height: 40px;
    color: #f4fde6;
    background-color: transparent;
}

#btn-speaker:hover {
    border: 1px solid #fff333;
    color:  #fff333;
}

#btn-tickets {
    border: none;
    width: 160px;
    height: 40px;
    color: #f4fde6;
    background-color: #29a744;
}

#btn-tickets:hover {
    color: #f2f5ee;
    background-color: #36D057;
}

.speaker-card {
    max-width: 18rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.place {
    min-height: 24rem;
}

.place-image {
    min-height: 24rem;
    background-image: url("../images/honolulu.jpg");
    background-size: cover;
}

.place-text {
    min-height: 24rem;
}

#btn-knowmore {
    border: 1px solid #f4fde6;
    color: #f4fde6;
    background-color: transparent;
}

#btn-knowmore:hover {
    border: 1px solid #fff333;
    color:  #fff333;
}

.form-container {
    display: block;
    margin: auto;
    max-width: 45rem;
    max-height: 20rem;
    padding: 0;    
}

.about-text {
    margin: auto;
    max-width: 45rem;
    height: 8rem;
}

#send-button {
    border: none;
    width: 45rem;
    color: #f4fde6;
    background-color: #96c93e;
}

#send-button:hover {
    color: #f2f5ee;
    background-color: #1E7DA0;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 6rem;
    background: rgb(29,57,71);
    background: linear-gradient(90deg, rgba(29,57,71,1) 0%, rgba(29,70,92,1) 35%, rgba(31,82,113,1) 100%);
}


/*----TICKETS----*/

.ticket-card {
    border-radius: 0;
    height: 13rem; 
    max-width: 16rem; 
}

.ticket-card:hover {
    scale: 1.02;
    box-shadow: 0.5rem 0.5rem 0.5rem darkgray;
}

#btn-tickets-price {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #A7DBFF;
}

#btn-tickets-erase, #btn-tickets-resume {
    border: none;
    width: 100%;
    color: #f4fde6;
    background-color: #96c93e;
}

#btn-tickets-erase:hover {
    color: #f2f5ee;
    background-color: #1E7DA0;
}

#btn-tickets-resume:hover {
    color: #f2f5ee;
    background-color: #1E7DA0;
}



/*----MEDIA-QUERIES----*/

@media (max-width: 900px) { 
    .conference-card {
        max-height: 10rem;
        max-width: 32rem;
        text-align: right;
        margin-right: 1rem;
        margin-top: 4rem;    
    }

    .cards-container {
        flex-direction: column;
    }

    .form-container, .about-text, #send-button {
        max-width: 28rem;
    }

}

@media (max-width: 760px) {
    .form-container, .about-text, #send-button {
        max-width: 24rem;
    }

}